@page
@model ITour.Pages.AppCompanies.Companies.PartnerCompanies.EditModel

@{
    ViewData["Title"] = "Изменить Юр. лицо ЕРЦ";
}

<h3>Изменить Юр. лицо ЕРЦ</h3>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartnerCompany.Id" />
            <input type="hidden" asp-for="PartnerCompany.TenantId" />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="PartnerCompany.Name" class="control-label"></label>
                    <input asp-for="PartnerCompany.Name" class="form-control" />
                    <span asp-validation-for="PartnerCompany.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="PartnerCompany.FullName" class="control-label"></label>
                    <input asp-for="PartnerCompany.FullName" class="form-control" />
                    <span asp-validation-for="PartnerCompany.FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="PartnerCompany.INN" class="control-label"></label>
                    <input asp-for="PartnerCompany.INN" class="form-control" />
                    <span asp-validation-for="PartnerCompany.INN" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="PartnerCompany.OGRN" class="control-label"></label>
                    <input asp-for="PartnerCompany.OGRN" class="form-control" />
                    <span asp-validation-for="PartnerCompany.OGRN" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="PartnerCompany.Phone" class="control-label"></label>
                    <input asp-for="PartnerCompany.Phone" class="form-control maskedinput-phone" />
                    <span asp-validation-for="PartnerCompany.Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="PartnerCompany.Email" class="control-label"></label>
                    <input asp-for="PartnerCompany.Email" class="form-control" />
                    <span asp-validation-for="PartnerCompany.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="PartnerCompany.Website" class="control-label"></label>
                    <input asp-for="PartnerCompany.Website" class="form-control" />
                    <span asp-validation-for="PartnerCompany.Website" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="PartnerCompany.AddressLegal" class="control-label"></label>
                    <input asp-for="PartnerCompany.AddressLegal" class="form-control" />
                    <span asp-validation-for="PartnerCompany.AddressLegal" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PartnerCompany.AddressPostal" class="control-label"></label>
                    <input asp-for="PartnerCompany.AddressPostal" class="form-control" />
                    <span asp-validation-for="PartnerCompany.AddressPostal" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="PartnerCompany.Bank" class="control-label"></label>
                    <input asp-for="PartnerCompany.Bank" class="form-control" />
                    <span asp-validation-for="PartnerCompany.Bank" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="PartnerCompany.Comment" class="control-label"></label>
                    <input asp-for="PartnerCompany.Comment" class="form-control" />
                    <span asp-validation-for="PartnerCompany.Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
