@page
@model ITour.Pages.AppUsers.Managers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Manager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Manager.Id" />
            <input type="hidden" asp-for="Manager.TenantId" />

            <div class="form-group">
                <label asp-for="Manager.PersonId" class="control-label"></label>
                <select asp-for="Manager.PersonId" class="form-control" asp-items="ViewBag.PersonId">
                    <option value="">- Выберите -</option>
                </select>
                <span asp-validation-for="Manager.PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager.AgencyOfficeId" class="control-label"></label>
                <select asp-for="Manager.AgencyOfficeId" class="form-control" asp-items="ViewBag.AgencyOfficeId">
                    <option value="">- Выберите -</option>
                </select>
                <span asp-validation-for="Manager.AgencyOfficeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AllRoles" class="control-label"></label>
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="checkbox checkbox-inline" name="roles" value="@role.Name"
                                   @(Model.ManagerRoles.Contains(role.Name) ? "checked" : "") />
                            @role.Name
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
