@page
@model ITour.Pages.Services.InsuranceServices.EditInOrderModel
@{
    ViewData["Title"] = "Изменение услуги";
}
<h3>Изменить услугу Страхования к Заказу</h3>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsuranceService.Id" />
            <input type="hidden" asp-for="InsuranceService.TenantId" />
            <input type="hidden" asp-for="InsuranceService.OrderId" />
            <input type="hidden" asp-for="InsuranceService.PacketTourServiceId" />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="InsuranceService.InsuranceTypeId" class="control-label"></label>
                    <select asp-for="InsuranceService.InsuranceTypeId" class="form-control" asp-items="ViewBag.InsuranceTypeId">
                        <option value="">--- Выберите ---</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="InsuranceService.InsuranceCompanyId" class="control-label"></label>
                    <select asp-for="InsuranceService.InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyId">
                        <option value="">--- Выберите ---</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-md-9">
                    <label asp-for="InsuranceService.Comment" class="control-label"></label>
                    <input asp-for="InsuranceService.Comment" class="form-control" />
                    <span asp-validation-for="InsuranceService.Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="InsuranceService.Cost" class="control-label"></label>
                    <input asp-for="InsuranceService.Cost" class="form-control" />
                    <span asp-validation-for="InsuranceService.Cost" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="InsuranceService.CurrencyTypeId" class="control-label"></label>
                    <select asp-for="InsuranceService.CurrencyTypeId" class="form-control" asp-items="ViewBag.CurrencyTypeId">
                        <option value="">--- Выберите ---</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="InsuranceService.ExchangeRate" class="control-label"></label>
                    <input asp-for="InsuranceService.ExchangeRate" class="form-control" />
                    <span asp-validation-for="InsuranceService.ExchangeRate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" /> |
                @{
                    string returnPage = (string)TempData.Peek("ReturnPage");
                    string orderId = ((Guid)TempData.Peek("OrderId")).ToString();
                }
                <a asp-page="@returnPage" asp-fragment="Services" asp-route-id="@orderId">Назад к заказу</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
