@page
@model ITour.Pages.Admin.Orders.OrderStatuses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OrderStatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderStatus.Id" />
            <div class="form-group">
                <label asp-for="OrderStatus.TenantId" class="control-label"></label>
                <input asp-for="OrderStatus.TenantId" class="form-control" />
                <span asp-validation-for="OrderStatus.TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="OrderStatus.IsDeleted" /> @Html.DisplayNameFor(model => model.OrderStatus.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus.Name" class="control-label"></label>
                <input asp-for="OrderStatus.Name" class="form-control" />
                <span asp-validation-for="OrderStatus.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus.Sequence" class="control-label"></label>
                <input asp-for="OrderStatus.Sequence" class="form-control" />
                <span asp-validation-for="OrderStatus.Sequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="OrderStatus.IsSystem" /> @Html.DisplayNameFor(model => model.OrderStatus.IsSystem)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
