@page
@model ITour.Pages.AppCompanies.Companies.AgencyCompanies.Licenses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>License</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="License.AgencyCompanyId" class="control-label"></label>
                <select asp-for="License.AgencyCompanyId" class ="form-control" asp-items="ViewBag.AgencyCompanyId">
                    <option value="">- Выберите -</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="License.AgencyOfficeId" class="control-label"></label>
                <select asp-for="License.AgencyOfficeId" class="form-control" asp-items="ViewBag.AgencyOfficeId">
                    <option value="">- Выберите -</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="License.LicenseNumber" class="control-label"></label>
                <input asp-for="License.LicenseNumber" class="form-control" />
                <span asp-validation-for="License.LicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="License.LicenseDate" class="control-label"></label>
                <input asp-for="License.LicenseDate" class="form-control" />
                <span asp-validation-for="License.LicenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
