@page
@model ITour.Pages.Services.AccomodationServices.Hotels.CreateModel

@{
    ViewData["Title"] = "Создать Отель";
}

<h3>Создать Отель</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="Country.Id" class="form-control" asp-items="ViewBag.CountryId">
                    <option value="">- Выберите -</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.ResortId" class="control-label"></label>
                <select asp-for="Hotel.ResortId" class="form-control" asp-items="ViewBag.ResortId">
                    <option value="">- Выберите -</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.Name" class="control-label"></label>
                <input asp-for="Hotel.Name" class="form-control" />
                <span asp-validation-for="Hotel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.NameEn" class="control-label"></label>
                <input asp-for="Hotel.NameEn" class="form-control" />
                <span asp-validation-for="Hotel.NameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Hotel_ResortId").empty();
            $("#Country_Id").change(function () {
                var url = "?handler=CascadingResorts";
                var ddlsource = "#Country_Id";
                $.getJSON(url, { countryId: $(ddlsource).val() }, function (data) {
                    var items = "<option value=''>--- Выберите Курорт---</option>";
                    $("#Hotel_ResortId").empty();
                    $.each(data, function (i, resort) {
                        items += "<option value='" + resort.value + "'>" + resort.text + "</option>";
                    });
                    $("#Hotel_ResortId").html(items);
                });
            });
        });
    </script>
}
