@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<h3>@ViewData["Title"]</h3>
<h4>Ваш пароль изменен. Для входа <a asp-page="./Login">перейдите по ссылке</a>.</h4>
