@page
@model ITour.Pages.Services.AccomodationServices.RoomTypes.EditModel

@{
    ViewData["Title"] = "Изменить Тип номера";
}

<h3>Изменить Тип номера</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomType.Id" />
            <input type="hidden" asp-for="RoomType.TenantId" />
            <div class="form-group">
                <label asp-for="RoomType.Name" class="control-label"></label>
                <input asp-for="RoomType.Name" class="form-control" />
                <span asp-validation-for="RoomType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
